In [1]:
# Dictionary is a collection of elements, we store data in <key,value> pair in a dictionary.
# Key should always be unique in dictionary.

In [2]:
d = {}
# defining a dictionary
# In set,we accomodate a flat element.

In [3]:
type(d)

dict

In [4]:
d1 = { "name" : "srinath" , "mail" : "sri@gmail.com" ,"number" : 23123 }

# This is how we can store data in dictionary

In [5]:
type(d1)

dict

In [6]:
d1

{'name': 'srinath', 'mail': 'sri@gmail.com', 'number': 23123}

In [7]:
# key can be anything, value can be anything

d2 = { "name" : "sudh" , "name" : "srinath" }

In [8]:
d2

{'name': 'srinath'}

In [9]:
# If for kays having same name, then the most recently assigned value to the key will be considered
# while creating a dictionary, key should always be unique.

# If a key is existing in dictionary, and if e try to have another key with same name then it will update 
# the value for that key with new value that has to be inserted.

# Dictionary will never allow us to have 2 or more keys with same name. Values for 2 or more keys can be same.

In [10]:
# what are the possible values for key.
# key can be string, numeric value,floating point number, boolean value.
# key can't be special characters(@,#,$)

d3 = { 234432 : 'abc' , 12.34 : "sri" , True : 123 }

In [11]:
d4 = { @ : "asd" }

SyntaxError: invalid syntax (3607287855.py, line 1)

In [ ]:
# can we take a list as key in dictionary?? -> No,because List is unhashable type.

d5 = { [1,2,3] : "abc" }

In [ ]:
# can we take a list as key in dictionary?? -> Yes 

d6 = { (1,2,3) : "srinath" }

In [ ]:
d6

In [ ]:
# can we take a set as key in dictionary??  -> No

d7 = { {1,2,3} : "abc" }

In [ ]:
# # can we take a dictionary as key in dictionary?? 

d11 = { {"key": 123} : "abc" }

In [12]:
# From collections point of view, we can consider only tuples as key.
# List,set,dictionary and special character can't be considered as key in dictionary.

In [13]:
d12 = {"course_name" : ["Data Science Masters", "We dev", "Java with DSA & System Design"] }

In [14]:
# we can have list as a value in a dictionary.

d12

{'course_name': ['Data Science Masters',
  'We dev',
  'Java with DSA & System Design']}

In [15]:
d13 = { "key" : (1,2,3,4) }

In [16]:
d14 = { "key" : {1,2,3,4} }

In [17]:
#  we can have tuple,set as a value in a dictionary.

In [18]:
# can we have a dictionary as a value in a dictionary?? -> Yes. It is called Nested dictionary

d15 = { "key" : {"qwe" : 123, "name" : "sudh" , "classes" : "DataScienceMasters" } }

In [19]:
d16 = { "batch_name" : ["Data science masters", "web dev","Java with DSA&System Design"], 
                        "start_date" : (28,14,21) , 
       "mentor_name" : {"krish naik","sudhanshu","Hitesh","NavinReddy","Hyder","Anurag" }  }

In [20]:
d16

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'}}

In [21]:
# Adding new <key,value> pair to a dictionary

d16['timing'] = (8,8,8)

In [22]:
# If we give an existing key, then it will update the value of it in dictionary.It won't create a new key with
# same name.

In [23]:
# Extracting a particular data from a dictionary.

# In dictionary, the key behaves as index i.e to obtain a particular key's value: use dictname['keyname']

d16['batch_name']

['Data science masters', 'web dev', 'Java with DSA&System Design']

In [24]:
d16['mentor_name']

{'Anurag', 'Hitesh', 'Hyder', 'NavinReddy', 'krish naik', 'sudhanshu'}

In [25]:
type(d16['mentor_name'])

set

In [26]:
# what happens if we search for a key that is not present in dictionary.
# It simply gives KeyError
d16['key1']

KeyError: 'key1'

In [27]:
d16['name'] = "sudhanshu"

In [28]:
d16

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [29]:
d16['name']

'sudhanshu'

In [30]:
# To get result in uppercase format
d16['name'].upper()

'SUDHANSHU'

In [31]:
d15

{'key': {'qwe': 123, 'name': 'sudh', 'classes': 'DataScienceMasters'}}

In [32]:
# Assume we have to extract 123 from d15 dictionary

In [33]:
d15['key']

{'qwe': 123, 'name': 'sudh', 'classes': 'DataScienceMasters'}

In [34]:
type(d15['key'])

dict

In [35]:
d15['key']['qwe']

# Here we just need to go one level after the other

123

In [36]:
type(d15['key']['qwe'])

int

In [37]:
# Adding a new key into dictionary 
d15['key1'] = 'abc'

In [38]:
d15

{'key': {'qwe': 123, 'name': 'sudh', 'classes': 'DataScienceMasters'},
 'key1': 'abc'}

In [39]:
# Deleting a particular key.

del d15['key1']

In [40]:
d15

{'key': {'qwe': 123, 'name': 'sudh', 'classes': 'DataScienceMasters'}}

In [41]:
# clearing a dictionary. Deletes all the keys in the dictionary.

d15.clear()

In [42]:
len(d16)

# it returns the number of <key,value> pairs in a dictionary.

5

In [43]:
d16

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [44]:
# How to retrieve all the keys in a dictionary.
# dict_name.keys() -> Predefined method for obtaining all the keys in dictionary.

d16.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [45]:
# How to retrieve all the values in a dictionary.
# dict_name.values() -> Predefined method for obtaining all the values in dictionary.

d16.values()

dict_values([['Data science masters', 'web dev', 'Java with DSA&System Design'], (28, 14, 21), {'Hitesh', 'krish naik', 'sudhanshu', 'Anurag', 'NavinReddy', 'Hyder'}, (8, 8, 8), 'sudhanshu'])

In [46]:
# converting above output into a list
# pass above thing as input to list()

list(d16.values())

[['Data science masters', 'web dev', 'Java with DSA&System Design'],
 (28, 14, 21),
 {'Anurag', 'Hitesh', 'Hyder', 'NavinReddy', 'krish naik', 'sudhanshu'},
 (8, 8, 8),
 'sudhanshu']

In [47]:
list(d16.keys())

['batch_name', 'start_date', 'mentor_name', 'timing', 'name']

In [48]:
# Extracting a list of <key,value> pair 
# dictionary_name.items() -> predefined method

d16.items()

dict_items([('batch_name', ['Data science masters', 'web dev', 'Java with DSA&System Design']), ('start_date', (28, 14, 21)), ('mentor_name', {'Hitesh', 'krish naik', 'sudhanshu', 'Anurag', 'NavinReddy', 'Hyder'}), ('timing', (8, 8, 8)), ('name', 'sudhanshu')])

In [49]:
list(d16.items())

# Here the number of tuples will be equal to number of <key,value> pairs

[('batch_name',
  ['Data science masters', 'web dev', 'Java with DSA&System Design']),
 ('start_date', (28, 14, 21)),
 ('mentor_name',
  {'Anurag', 'Hitesh', 'Hyder', 'NavinReddy', 'krish naik', 'sudhanshu'}),
 ('timing', (8, 8, 8)),
 ('name', 'sudhanshu')]

In [50]:
d17 = d16.copy()

# using copy() ensures that we do deep copy,then it will reserve new space and places the same data here.
# Any changes that are made in 1 dictionary will not be reflected on other dictionary as they are different copies.

In [51]:
d17

# Here a seperate of the same dictionary will be created and d17 will be referring to the newly created dictionary.
# But d16 will refer to existing copy of dictionary.

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [52]:
d18 = d16

# Here shallow copy will be done, where d18 refers to the existing copy dictionary.
# So any changes that are made on d18 will be same reflected on d16 dictionary as well

In [53]:
d18

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [58]:
d16

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [56]:
del d16['name']

KeyError: 'name'

In [57]:
d16

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [61]:
d18

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [59]:
del d17['mentor_name']

In [60]:
d17

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [62]:
d18

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [ ]:
# with shallow copy, new memory won't be allocated and so both will refer to same memory location.

In [63]:
# use dictionaryname.tab(click on it)  -> to check all the predefined methods.

d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [64]:
# pop() -> removes a specific key and returns value for that key

d16.pop('timing')

(8, 8, 8)

In [65]:
d16

{'batch_name': ['Data science masters',
  'web dev',
  'Java with DSA&System Design'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Hyder',
  'NavinReddy',
  'krish naik',
  'sudhanshu'}}

In [66]:
d16.pop('mentor_name')

{'Anurag', 'Hitesh', 'Hyder', 'NavinReddy', 'krish naik', 'sudhanshu'}

In [67]:
d.fromkeys((1,2,3),('a','b','c'))

# fromkeys() - here the first parameter is iterables and for each element in 1st parameter, it will consider
# the 2nd parameter as value for that key.

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [68]:
d19 = { "key1" : "value1" , "key2" : "value2" }

In [69]:
d20 = { "key3" : "value3" , "key4" : "value4" }

In [70]:
# Assume we want to keep these 2 dictionaries in a tuple
(d19,d20)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [71]:
d19.update(d20)

In [72]:
d19

# It will update all the <key,value> pairs that are present in d20 that are not present in d19.
d19 = d19 union d20

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [73]:
d20.update(d19)

In [74]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [75]:
# returns the value for key that is being passed, else retrun default.

d20.get("sudh")

In [76]:
d20.get('key3')

'value3'

In [77]:
d20['key3']

'value3'

In [ ]:
# get() won't return KeyError, if key is not there in dictionary
# but using indexing dict_name['keyname'] -> returns error it key doesn't exist in dictionary.

In [ ]:
Dictionary Comprehension

# Assume we have to create a dictionary, where key is 1 to 10 and values can be square of the keys.
# range(a,b)  -> iterates from a to b-1 except upper bound.