In [1]:
t= ()

In [2]:
type(t)

tuple

In [3]:
t1=(1,1.2,3+2j,"sri",True)

In [4]:
type(t1)

tuple

Even in lists we can store the data of different types.

For list we use [], for sets we use ()

Accessing tuple

In [6]:
t1

(1, 1.2, (3+2j), 'sri', True)

when tuple is going to store information, it creates indexing and it will try to hold all the information inside 
those indexes with indices starting from 0.

In [7]:
t1[0]

1

In [8]:
t1[3]

'sri'

In [9]:
t1[::-1]

(True, 'sri', (3+2j), 1.2, 1)

::-1 -It will give the reverse of a data structure.
Because of this, the original structure of tuple doesn't gets changed.

In [10]:
t1 = t1[::-1]

Now in above line, the original structure of tuple gets changed as there is assignment operator.
Now above cell should be executed to see that  original structure of tuple gets changed.

Slicing
Accessing a part of any data structure is called Slicing.
t1[start:end] -> It will print the elements at indices from 0 to end-1.

In [11]:
t1[0:3]

(True, 'sri', (3+2j))

Inbuilt Functions that are available with respect to tuple. -> count(),index()
  count() - returns the count of number of occurences of given element in tuple.
  index() - returns the index of first occurence of given particular element in tuple.

For List - we have append(), extend(),sort(),insert()

In Jupyter Notebook:
  To find all inbuilt functions that are available, use tuplename.tab 
  use shift + tab - to know a python inbuilt function completely.

In [ ]:
t1.

In [13]:
t1.count(1)

2

In [14]:
t1.count('sri')

1

In [15]:
t1.index('sri')

1

In [16]:
t1.index(1)

0

In above cell, the value at index 0 is True, it is not giving element at last index.

In [17]:
t1.index('sri')

1

In [18]:
t1.count('True')

0

In [19]:
t1.count(True)

2

Internally system tries to store boolean variable True as 1,and False as 0.
Hence it is counting True as 1.

In [20]:
t1.count(1)

2

In [21]:
l = [1,2,3,4]

Lists are mutable, but sets are immutable.
We can replace existing elements in List, but can't do that in Tuple.


In Lists we can make required changes in elements of list, but this is not possible with Tuples.
Tuples won;t allow us to make any changes at a particular index. Here we try to make changes at a particular index.
We can't change any element in a tuple.


Item assignment is different(when we assign new data to a variable).

In [22]:
t1[1] = 345

TypeError: 'tuple' object does not support item assignment

Iterating a Tuple using a for loop

In [23]:
for i in t1:
     print(i)

True
sri
(3+2j)
1.2
1

In [24]:
for i in t1:
     print(i,type(i))

True <class 'bool'>
sri <class 'str'>
(3+2j) <class 'complex'>
1.2 <class 'float'>
1 <class 'int'>

In [25]:
t2 = (1,2,3,4)

In [28]:
t2 * 3

(1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4)

In [29]:
max(t2)

4

In [30]:
min(t2)

1

Tuples basically follows Immutability concept where it is not going to allow to change any element at a particular
 index.
 
When we want no one to make any changes to data structure, then in such scenarios Tuples can be used.(set of 
 passwords)
We can't make any new element insertions into Tuples.

In [33]:
t1 = (1,2,3,4)
t2= (5,6,7,8)

In [ ]:
Storing multiple tuples together

In [34]:
t3 = (t1,t2)

In [35]:
t3

((1, 2, 3, 4), (5, 6, 7, 8))

We can have a tuple as an element of other tuple.
We can have tuples inside a list and lists inside a tuple.

In [36]:
t4 = ((2,3,7,8),[2,4,6,8])

In [37]:
t4

((2, 3, 7, 8), [2, 4, 6, 8])

Deleting a tuple - use del tuple_name

In [38]:
del t4

In [39]:
t4

NameError: name 't4' is not defined

use len(tuple_name) to find the number of elements in tuple.

In [40]:
len(t1)

4

Checking a particular element or subset of elements are present in tuple.
element_name in tuple_name

In [41]:
"sri" in t1

False

In [42]:
2 in t1

True